@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;  /* Blanco en RGB */
    --foreground: 23 23 23;     /* Casi negro en RGB */
  }

  .dark {
    --background: 10 10 10;     /* Casi negro en RGB */
    --foreground: 237 237 237;  /* Casi blanco en RGB */
  }
}

body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background-color: #f5f5f5; /* Color de fondo base */
}

/* Estilos para el fondo con imagen */
.body-with-bg::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/coffee-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4; /* Aquí controlas la transparencia (40%) */
  z-index: -1; /* Para que se quede detrás del contenido */
}